.block-container,
.css-1544g2n {
    padding-top: 30px
}

thead tr th:first-child {
    display: none
}

tbody th {
    display: none
}

thead,
td {
    font-size: 12px;
}

.stButton button {
    background-color: #F1603F;
    color: white;
}

.stButton button:hover {
    background-color: #2A276C;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html,
body,
[class*="css"] {
    font-family: 'IBM Plex Mono', monospace;
}